body {
  background: darkgrey;
  margin: 0;
  padding: 0;
}

.readings {
  width: 40vw;
}

.reading-display {
	height: 12.5vh;
  padding: 10px;
	font: normal normal 12px/1.2em monospace;
  border-bottom: 0.5px solid black;
  box-sizing: border-box;
}

.data-point {
  /* padding: 10px; */
}

.content {
  position: absolute;
  width: 60vw;
  left: 40vw;
  top: 0px;
}

.videowrapper {
  position: relative;
  width: 100%;
}

.content video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
